{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk {:git/sha "bdf79084374fc89cd956ec076847c0845c80c911"}
        org.babashka/cli {:mvn/version "0.5.40"}
        ;; silence log warnings
        org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}

 :aliases {:build {:exec-fn nextjournal.clerk/build!
                   :exec-args {:index "src/index.clj"
                               :paths-fn index/build-paths}
                   :main-opts ["-m" "babashka.cli.exec"]}
           :serve {:exec-fn nextjournal.clerk/serve!
                   :exec-args {:index "src/index.clj"
                               :watch-paths ["src"]
                               :port 7878
                               :paths-fn index/build-paths}
                   :main-opts ["-m" "babashka.cli.exec"]}}}
